<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <!-- fontAwesome cdn link -->

    <script src="https://kit.fontawesome.com/5e286673d0.js" crossorigin="anonymous"></script>


     <!-- fontAwesome cdn link end -->



    
    <title>Hodlinfo</title>
</head>
<body>
    <div id="main" class="navbar background">
        
         <ul class="nav-list v-class-resp">
            
          <h1 >HODLINFO<span style="color: #ffffff; font-size:30px; ">.com</span> </h1> <br>
          <h3>Powered By <span style="color: aqua;">Finstreet</span></h3>
        </ul> 

       

        <section >
        
        <div class="pad">
        <select name="" id="" class="btn">
        <option value="inr">INR</option>
           <option value="inr">INR</option>
           
        </select>


    </div>

    <div class="pad">
        <select name="" id="" class="btn">
               <option  value="inr">BTC</option>
               <option value="inr">ETH</option>
               <option value="">USDT</option>
               <option value="">XRP</option>
               <option value="">TRX</option>
               <option value="">DASH</option>
               <option value="">ZEC</option>
               <option value="">XEM</option>
               <option value="">IOST</option>
               <option value="">WIN</option>
               <option value="">WRX</option>
            </select>
        </div>   


            <div class="pad">
                <button value="inr" class="btn">BUY BTC</button>
            </div>
            
             <div class="pad">
                <button value="inr" class="btn fab fa-telegram " ><i class=""></i> Connect Telegram</button>
            </div> 

           

            </section>

        <div class="price">Best price to Trade</div>

    

        <div class="horizon">
            <ul>
                <li>0.82%</li>
                <li>0.82%</li>
                <li class="bitcoin" >₹30,0000</li>
                <li>0.82%</li>
                <li>0.82%</li>
            </ul>

        </div>


         <div class="images">
           <a href="https://finstreet.in/"> <img src="img/wazirx.png" alt="img">
           </a>
        </div> 

        <table class="content-table" >
            <thead>
             <tr>
                
                <th>#</th>
                <th>name</th>
                <th>Last</th>
                <th>Buy/Sell Price</th>
                <th>volume</th>
                <th>base_unit</th>

             </tr>   
            </thead>
            <tbody class="sd">
             {{!-- <tr  >
                <td>1</td>
                <td>BTC/INR</td>
                <td>₹2,587,560</td>
                <td>₹2,587,560/ ₹2,587,560</td>
                <td>2587.560</td>
                <td>btc</td>
              </tr> --}}
             
             </tbody>
        </table>
        <br>

         <div class="images">
             <a href="https://www.algorand.com/futurefi/">
           <img src="img/wazirx2.jpg" alt="img">
         </a>
         </div>
       
    </div>


  

    
<script src="js/index.js"></script>
</body>
</html>